*.aux
*.log
*.out
*.toc
*.lot
*.lof
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.thm
*.ist
*.glg
*.glo
*.gls
*.acn
*.acr
*.alg
*.bcf
*.idx
*.ilg
*.ind
*.synctex(busy)
*.synctex.gz(busy)

.idea/
.vscode/
__pycache__/
*.swp
*.swo

.local/
.env

.latex_tmp/

.DS_Store